.c-cart-modal-wrapper {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;
}

.c-cart-modal {
  background: #eee;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 90vh;
  max-width: 320px;
  position: fixed;
  right: 16px;
  top: 5vh;
  width: 90vw;

  @media (min-width: 768px) {
    max-width: 440px;
  }

  &__header {
    align-items: center;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

  &__header-right {
    align-items: center;
    color: #888;
    display: flex;
  }

  &__total-items {
    margin-right: 12px;
  }

  &__close-icon {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px;

    > svg {
      stroke: #888;
    }
  }

  &__body {
    flex-grow: 1;
    padding: 16px;
  }

  &__line-items {
    display: grid;
    gap: 10px;
    width: 100%;
  }

  &__line-item {
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: grid;
    gap: 16px;
    grid-template-columns: 100px 1fr 100px;
    overflow: hidden;
  }

  &__line-item-image-wrapper {
    place-self: stretch;
    position: relative;

    > img {
      height: 100%;
      object-fit: cover;
      position: absolute;
      width: 100%;
    }
  }

  &__line-item-qty {
    display: grid;
    grid-template-columns: repeat(3, 36px);
    text-align: center;

    > button,
    > input {
      align-items: center;
      background: #fff;
      border: 1px solid #ddd;
      display: flex;
      font-size: 16px;
      height: 36px;
      justify-content: center;
      line-height: 1;
      min-height: initial;
      padding: 0 4px;
      text-align: center;

      > img {
        height: 12px;
        width: 12px;
      }
    }

    > button {
      cursor: pointer;
    }

    > input {
      border-left: 0;
      border-right: 0;
    }
  }

  &__line-item-qty-plus {
    border-radius: 4px 0 0 4px;
  }

  &__line-item-qty-minus {
    border-radius: 0 4px 4px 0;
  }

  &__line-item-title {
    @include singleLine;
    color: #000;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
  }

  .c-cart-modal__line-item-variant-title {
    color: #888;
    font-size: 12px;
    line-height: 1;
    margin: 12px 0;
    text-transform: uppercase;
    @include singleLine;
  }

  &__line-item-copy {
    overflow: hidden;
    padding: 16px 0;
  }

  &__line-item-final-price {
    padding: 16px 16px 16px 0;
    text-align: right;
  }
}
